<ion-view view-title="Recordar Píldoras">
  <ion-content>
    <ion-list>
<!--
       <ion-item  on-touch="deleteDB()">
         <div class="item-icon-left">
           <i class="icon ion-plus-round"></i>Eliminar DB
         </div>
       </ion-item>
       <ion-item  on-touch="crearDB()">
         <div class="item-icon-left">
           <i class="icon ion-plus-round"></i>Crear DB
         </div>
       </ion-item>-->
      <ion-item  href="#/app/medicineadd">
        <div class="item-icon-left">
          <i class="icon ion-plus-round"></i>Agregar alerta
        </div>
      </ion-item>
        <ion-item ng-repeat="medicine in medicinelist track by $index" class="item-toggle-option item-remove-animate">
          {{medicine.medicamento_nombre}}
          <label class="toggle toggle-balanced">
            <input type="checkbox" ng-model="medicine.checked" ng-checked="(medicine.encendido == 1)? true : false;" ng-click="createEvents($index,medicine.id, medicine.encendido)">
            <div class="track" >
              <div class="handle" ></div>
            </div>
          </label>
          <ion-option-button class="button-assertive" ng-click="deleteMedicine($index,medicine.id)">
            Eliminar
          </ion-option-button>
        </ion-item>
    </ion-list>
    {{messageinfo}}
  </ion-content>
</ion-view>

